[submodule "frameworks/fc"]
	path = frameworks/fc
	url = https://github.com/GolosChain/fc.git
[submodule "frameworks/chainbase"]
	path = frameworks/chainbase
	url = https://github.com/GolosChain/chainbase.git
[submodule "frameworks/appbase"]
	path = frameworks/appbase
	url = https://github.com/GolosChain/appbase.git